@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #6A3093, #A044FF);
    
}

header{
    margin: 100px auto;
    justify-items: center;
}

header h1{
    color: #fff;
    font-size: 2em;
    text-shadow: 5px 5px 15px rgba(5, 5, 5, .9);
}

main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

section#container{
    width: 400px;
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    border-radius: 10px;
}

section#container input{
    width: 280px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    padding: 6px;
}

#btn{
    width: 70px;
    height: 43px;
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: #A044FF;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    transition: transform .2s ease;
}

#btn:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
    transform: translateY(-3px);
    cursor: pointer;
}

.btn-apagar:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .3);
    transform: translate(-3px);
    cursor: pointer;
}

section#results .btn-apagar{
    background-color: #A044FF;
    color: #fff;
    padding: 2px;
    height: 40px;
    width: 40px;
    align-content: center;
    border-radius: 4px;
    
}

section#results{
    width: 400px;
    min-height: 120px;
    background-color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding: 20px;
    display: none;
}

section#results.mostrar{
    display: block;
}

ul#tarefas{
    width: 365px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
    margin: 20px 0px;
    border-left: 1px solid #6A3093;
    outline: none;
    border-radius: 5px;
    transition: border .3s ease;
    padding-left: 5px;
}

li:hover{
    border-left-width: 10px;
    border-color: #A044FF;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
